body{
  background: #fff;
}
.c-left{
  clear: left;
}
.input-table{
  float: left;
  table{
    max-width: 33%;
  }
}
.back-FIRE{
  background: rgba(255, 100, 100, 0.3);
}
.back-AQUA{
  background: rgba(100, 100, 255, 0.3);
}
.back-LEAF{
  background: rgba(100, 255, 100, 0.3);
}
.back-ATTACK{
  background: rgba(200, 200, 100, 0.3);
}
.back-BOOST{
  background: rgba(200, 100, 100, 0.3);
}
